.form-style{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 30px;
    margin-top: 50px;
    margin-top: 20px;
}
.btn-google{
    margin-left: 50px;
    width: 400px;
    border-radius: 20px;
}